---
title: 【練習】LiNew
---

/ 部分ファイルを読み込む
= partial :header
= partial :hero
= partial :footer


#content
  #inner-content.cf
    main#main.cf itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog" role="main"
      / section#kv.fullwid
      /   .inner
      /     .bg.owl-carousel.owl-theme
      /       div
      /         img alt="" src="https://linew.co.jp/wp-content/uploads/2021/05/IMG_0218-4.jpeg"
      /       div
      /         img alt="" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/IMG_0224-1.jpeg"
      /       div
      /         img alt="" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/IMG_0242-1.jpeg"
      /       div
      /         img alt="" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/IMG_0258-1.jpeg"
      /       div
      /         img alt="" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/IMG_0256.jpeg"
      /     .txt.ex.ex_fade_down.ex_delay
      /       p
      /         | 世の中の課題をITで解決し、
      /         strong 関わった世界中の人たちを幸せにする
      section#ourservice.graybg
        .inner.mainwid
          h1.section_title Our Service
          ul.ourservice_list
            li
              .img.ex
                img alt="educure" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/educure01-1024x683.jpg"
              .txt.ex
                a href="https://lp.educure.jp/" target="_blank"
                h2
                  img alt="educure" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/black-300x96.png"
                .catch
                  p DXを推進する エンジニア育成
                p.excerpt IT事業参入をご検討中の事業者様向けのサービスです。
                i.fas.fa-external-link-alt
            li
              .img.ex
                img alt=("TECH Passion") data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/techpassion01-1024x683.jpg"
              .txt.ex
                a href="https://techpassion.jp/" target="_blank"
                h2
                  img alt=("TECH Passion") data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/05/logo.png"
                .catch
                  p
                    | 未経験から
                    br
                    | 本気でエンジニアへ
                p.excerpt 「未経験から本気でエンジニア」を目指すプログラミングスクールです。
                i.fas.fa-external-link-alt
            li
              .img.ex
                img alt="人生を変える英会話アプリ" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/10/6c40ac7b707e13491fda6a6b4f02d82d-1024x597.jpg"
              .txt.ex
                a href="https://lp.redfire.jp/" target="_blank"
                h2
                  img alt="人生を変える英会話アプリ" data-eio="l" src="https://linew.co.jp/wp-content/uploads/2021/10/abb886337b510d088a858a59a12bf114.png"
                .catch
                  p 人生を変える英会話アプリ
                p.excerpt 登録者数約25万人! YouTuber講師ジョージ監修！ オンライン英会話アプリ！
                i.fas.fa-external-link-alt
          .other_btn_area
            a.other_btn href="service/index.html"
              | Other service
              i.fas.fa-arrow-circle-right
      section#ourvision.lazyload data-bg="https://linew.co.jp/https://linew.co.jp/wp-content/uploads/2021/05/bg01.jpg" style=""
        .inner.mainwid
          h1.section_title Our Vision
          h2.ov_h2.ex
            | 世の中の課題をITで解決して、
            br
            | 関わった
            strong 世界中の人たちを幸せにする
          ul.ov_list
            li.ex
              p
                | ITを通じて
                br
                | 人々の可能性を広げる
              p.sub イノベーションを起こし新たな価値を創造する
            li.ex
              p
                | 世界を代表する
                br
                | 自社サービスを作る
              p.sub 世の中にインパクトを与える
            li.ex
              p
                | 世界から選ばれる
                br
                | 企業へ
              p.sub 常に最高のパフォーマンスを発揮します
      section#news.graybg
        .inner.mainwid
          h1.section_title
            | News
          .news_article_list
            article#post-2506.cf.ex.ex_fade_down.post-2506.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-pressrelease.category-40.category-ownproduct.tag-educure role="article"
              .img
                figure
                  a href="#" title="【プレスリリース】ニーズが増大するAIや機械学習エンジニアの人材不足を解決"
                    img.attachment-medium.size-medium.wp-post-image alt="" src="https://linew.co.jp/wp-content/uploads/2021/05/prtimes-300x158.png" height="158" width="300" loading="lazy"
              .txt
                .meta
                  time.updated.entry-time datetime="2022-06-03" itemprop="datePublished" 2022-06-03
                  ul.post-categories
                    li
                      a href="#" プレスリリース
                    li
                      a href="#" メディア
                    li
                      a href="#" 自社サービス
                h1.entry-title
                  a href="#" title="【プレスリリース】ニーズが増大するAIや機械学習エンジニアの人材不足を解決"
                    |【プレスリリース】ニーズが増大するAIや機械学習エンジニアの人材不足を解決

            / article#post-2440.cf.ex.ex_fade_down.post-2440.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-pressrelease.category-40.category-ownproduct.tag-educure role="article"
            article
              .img
                figure
                  a href="#" title="【プレスリリース】人材派遣会社Evand株式会社がDXを推進するサービスを導入"
                    img.attachment-medium.size-medium.wp-post-image alt="" src="https://linew.co.jp/wp-content/uploads/2022/02/7e6a0316f2b4799aecdc2a40b55c6549-3-e1647488626371-300x211.png" width="300" height="211" loading="lazy"
              .txt
                .meta
                  time.updated.entry-time datetime="2022-02-22" itemprop="datePublished"  2022-02-22
                  ul.post-categories
                    li
                      a href="#" プレスリリース
                    li
                      a href="#" メディア
                    li
                      a href="#" 自社サービス
                h1.entry-title
                  a href="#" title="【プレスリリース】販売職・コールセンターに強い人材派遣会社Evand株式会社がDXを推進するリスキリング(再教育)サービス「Educure（エドゥキュア）」を導入"  【プレスリリース】販売職・コールセンターに強い人材派遣会社Evand株式会社がDXを推進するリスキリング(再教育)サービス「Educure（エドゥキュア）」を導入
          .other_btn_area
            a.other_btn href="news/index.html"
              Other news
              i.fas.fa-arrow-circle-right
      section#aboutus.lazyload data-bg="https://linew.co.jp/https://linew.co.jp/wp-content/uploads/2021/05/bg02.jpg" style=""
        .inner.mainwid
          h1.section_title About Us
          .aboutus_info_wrap
            .aboutus_info.ex.ex_fade_up
              .tr
                p.th 会社名
                p.td 株式会社LiNew
              .tr
                p.th 代表
                p.td
                  | CEO 西本弘昌
                  br
                  | COO 井上陽介
              .tr
                p.th 資本金
                p.td 500万円
              .tr
                p.th 事業内容
                p.td コンサルティング/システム開発、受託開発/教育・研修/アウトソーシング
              .tr
                p.th 本社住所
                p.td
                  | 〒150-0002
                  br
                  | 東京都渋谷区渋谷3丁目6-20　第５矢木ビル 5F
                  a.link href="https://goo.gl/maps/RQvbBd8oKFUX2Pif9" target="_blank"
                    | GoogleMap
                    i.fas.fa-external-link-alt
            .aboutus_pic.ex.ex_fade_down
              figure
                img src="https://linew.co.jp/wp-content/ewww/lazy/placeholder-1024x768.png"
          .other_btn_area
            a.other_btn href="about/index.html"
              More info
              i.fas.fa-arrow-circle-right
      section#recruit.graybg
        .inner.mainwid
          h1.section_title Recruit
          .rec_catch.ex.ex_fade_down
            p
              | 熱いパッションを持っている
              strong
                | あなた
              | を待っています。
          .recruit_box.ex.ex_fade_down
            h2.h3 現在募集中の職種
            ul.recruit_list
              li
                a.btn href="#" title="エンジニア"
                  エンジニア
                  i.fas.fa-arrow-right
              li
                a.btn href="#" title="営業"
                  営業
                  i.fas.fa-arrow-right
              li
                a.btn href="#" title="PR・広報"
                  PR・広報
                  i.fas.fa-arrow-right
          .other_btn_area
            a.other_btn href="#"
              | More info
              i.fas.fa-arrow-circle-right
